---
title: TestRobot
project: TestRobot
layout: Project
published: true
---

<h3>Subprojects</h3>
<p>Woohoo!
I would love to know why this shit isn't working.</p>
<div class = "subproject">
<a href="TestRobot">TestBot </a>
</div>

<div class = "subproject">
<a href="subprojects/V2">V2</a>

{% if site.subprojects.size > 0 %}
 <ul id="project-container">
	 {% for project in site.subprojects %}
        <li class="subproject">
          <a class="projectTitle" href="{{ project.url }}">{{ project.title }}</a>
        </li>
      {% endfor %}
    </ul>
    {% endif %}

</div>
