<div class="footer">
  <div class="page-width">
    <div class="email">
      <h1>
        <a href="mailto:info@letsbuildrockets.org">info@letsbuildrockets.org</a>
      </h1>
    </div>
    <div class="social-media">
      <div class="facebook">
        <a href="https://www.facebook.com/letsbuildrockets/">
          <img src="assets/facebook.png" width="50" height="50"/>
        </a>
      </div>
      <div class="youtube">
        <a href="https://www.youtube.com/channel/UCiAF9XcnRtYSqz1f9S6ik7Q/videos">
          <img src="assets/youtube.png" width="50" height="50"/>
        </a>
      </div>
      <div class="github">
        <a href="https://github.com/LetsBuildRockets/">
          <img src="assets/github.png" width="50" height="50"/>
        </a>
      </div>
    </div>
  </div>
</div>
