<div class="nav">
  <div class="nav-bar">
    <a href="letsbuildrockets.org"><div class="logo">
    </div></a>
    <div class="links">
      <ul>
        <li>
          <a href="/index.html">HOME</a>
        </li>
        <li>
          <a href="/About.html">ABOUT</a>
        </li>
        <li>
          <a href="/ProjectHome.html">PROJECTS</a>
        </li>
        <li>
          <a href="/Media.html">MEDIA</a>
        </li>
        <li>
          <a href="/Sponsors.html">SPONSORS</a>
        </li>
        <li>
          <a href = "/Blog.html">BLOG</a>
        </li>
      </ul>
    </div>
  </div>
</div>
