<div class="nav">
  <div class="nav-bar">
    <div class="logo">
    </div>
    <div class="links">
      <ul>
        <li>
          <a href="Home.html">HOME</a>
        </li>
        <li>
          <a href="_layouts/About.html">ABOUT</a>
        </li>
        <li>
          <a href="Projects.html">PROJECTS</a>
        </li>
        <li>
          <a href="Media.html">MEDIA</a>
        </li>
        <li>
          <a href="Sponsors.html">SPONSORS</a>
        </li>
        <li>
          <a href = "Blog.html">BLOG</a>
        </li>
      </ul>
    </div>
  </div>
</div>
