<div class="nav">
  <div class="nav-bar">
    <a href="{{site.url}}"><div class="logo">
    </div></a>
    <div class="links">
      <ul>
        <li>
          <a href="/index.html">HOME</a>
        </li>
        <li>
          <a href="/about.html">ABOUT</a>
        </li>
        <li>
          <a href="/project-home.html">PROJECTS</a>
        </li>
        <li>
          <a href="/media.html">MEDIA</a>
        </li>
        <li>
          <a href="/sponsors.html">SPONSORS</a>
        </li>
        <li>
          <a href = "/blog">BLOG</a>
        </li>
      </ul>
    </div>
  </div>
</div>
