<div class="nav">
  <div class="nav-bar">
    <a href="{{site.url}}">
      <div class="logo"></div>
    </a>
    <div class="links">
      <ul>
        <li>
          <a href="/index">HOME</a>
        </li>
        <li>
          <a href="/about">ABOUT</a>
        </li>
        <li>
          <a href="/project-home">PROJECTS</a>
        </li>
        <li>
          <a href="/media">MEDIA</a>
        </li>
        <li>
          <a href="/sponsors">SPONSORS</a>
        </li>
        <li>
          <a href = "/blog">BLOG</a>
        </li>
      </ul>
    </div>
  </div>
</div>
