html, body {
  padding: 0;
  margin: 0 auto;
}

.content{
  padding-top:11vh;
}

.page-width {
  width: 1000px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #afaeae;
  font-family: "Roboto Slab";
}

a:hover{
  text-decoration: none;
  color: #F9423A;
}

.SponsorPage p {
text-align:left;

}
/*idk where to put this*/
.sponsor-img {
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  opacity:0.6;
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

.sponsor-img:hover {
opacity:1;
-webkit-transition: all 0.5s ease;
   -moz-transition: all 0.5s ease;
     -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
        transition: all 0.5s ease;
}

/**Header `**/
h1 {
  font-family: "Roboto Slab";
  font-size: 48px;
  color: #F9423A;
  font-weight: 700;
  text-align: center;
  margin: 0 auto;
}

h1 a {
  text-decoration: none !important;
  color: inherit;
}

/*Header 2**/
h2 {
  font-family: "Roboto Slab";
  font-size: 48px;
  color: #FFF;
  font-weight: 700;
  text-align: center;
  margin: 0 auto;
}

/*Header 3**/
h3 {
  font-family: "Roboto Slab";
  font-size:36px;
  color: #F9423A;
  font-weight: 700;
  text-align: center;
}


/*Header 4**/
h4 {
  font-family: "Roboto Slab";
  color: #474747;
  font-size: 30px;
  font-weight: 400;
}

/*Paragraph**/
p {
  font-family: "Roboto Slab";
  color: #474747;
  font-size: 24px;
  text-align: center;
}

.orangeSectionWrapper p{
  color: #fff;
}

.leftAlign > * {
  text-align:left;
}

/**List Item*/
li {
  font-family: "Roboto Slab";
  color: #474747;
  font-size: 18px;
  text-align: left;
}

/**Bulleted checklist*/
ul.Checklist {
  list-style-type: circle;
}

ul.Checklist li.checked:before{
  position: absolute;
  margin-left: -1.1em;
  font-weight: bold;
  content: "\2713   ";
}

/*Section Wrappers**/
.whiteSectionWrapper, .orangeSectionWrapper {
    padding-top: 30px;
    padding-bottom: 40px;
}

/*ImgSectionBoxes**/
.imgSectionBox{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 700px;
  margin: 20px auto;
}

/* Buttons */

.whiteButton, .orangeButton {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 170px;
  border-radius: 50px;
  border-style: solid;
  text-align: center;
  font-family: "Roboto Slab";
  transition: .2s;
}

.whiteButton a, .orangeButton a {
  text-decoration: none;
  font-size: 24px;
  transition: .2s;
  width: 100%;

}

/**White Button**/
.whiteButton {
  color: #F9423A;
  background-color: #FFF;
}

.whiteButton:hover {
  background-color: #F9423A;
  color: #FFF;
}

.whiteButton a {
  color: #F9423A;

}
.whiteButton:hover a {
  color: #FFF;
}

/*Orange Button**/
.orangeButton {
  color: #FFF;
  background-color: #F9423A;
}


.orangeButton:hover {
  background-color: #FFF;
  color: #F9423A;
}

.orangeButton a {
  color: #FFF;

}
.orangeButton:hover a {
  color: #F9423A;
}


/*Email Header**/
.email h3{
  font-size: 20px;
  color: #F9423A;
  font-weight: 700;
  text-align: center;
  margin: 0 auto;
}

.email h3 a {
  transition:0.2s;
  text-decoration: none !important;
  color:#afaeae;
}

.email h3 a:hover {
  transition:0.2s;
  text-decoration: none !important;
  color: inherit;
}

/*Navigation*/
.nav {
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 10vh;
  position:fixed;
  z-index:2;
}

.nav-bar {
  width: 100%;
  height: 10vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position:fixed;

}

.links ul li a {
  text-decoration: none;
  color: #afaeae;
  font-family: "Roboto Slab";
  display: block;
  padding-left: 10px;
  padding-right: 25px;
  margin-right:15px;
  transition: .2s;
  font-size:1.2em;
}

.links ul li a:hover {
  color: #F9423A;
  transition:.2s;
}

.links ul li {
  list-style: none;
}

.links ul {
  display: flex;
}

/*Logo**/
.logo {
  background-image: url(/Assets/ImportantImages/logo.png);
  width: 12vw;
  height: 10vh;
  background-size:90%;
  margin-left: 2%;
  margin-top: 1%;
  background-repeat: no-repeat;
}

/*Orange Section Wrapper**/
.orangeSectionWrapper {
      background-color: #F9423A;
      color: #FFF;
      width: auto;
  }
/*Footer**/
.footer {
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100px;
  padding-top: 20px;
  text-shadow: #202020 0px 0px 2px;
}

/*Footer Social Media Links**/
#SocialMedia {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin:0;
  padding:0;

}

#SocialMedia li {
  margin-right: 7px;
  margin-left: 7px;
  margin-top: 7px;
  padding: 0;
  list-style: none;
  top: 0;

}
#SocialMedia li, #SocialMedia a {
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style:none;
  height:50px;
  width:50px;
}

#Facebook {
  left: 0px;
  width:50px;
  background: url('/Assets/ImportantImages/navSprites.png') 0 0;
}

#Facebook a:hover {
  background: url('/Assets/ImportantImages/navSprites.png') 0 -50px;
}

#Youtube {
  left: 100px;
  width: 50px;
  background: url('/Assets/ImportantImages/navSprites.png') -50px 0;
}

#Youtube a:hover {
  background: url('/Assets/ImportantImages/navSprites.png') -50px -50px;
}

#Github {
  left: 150px;
  width:50px;
  background: url('/Assets/ImportantImages/navSprites.png') -100px 0;
}

#Github a:hover {
  background: url('/Assets/ImportantImages/navSprites.png') -100px -50px;
}
