#project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

li.project {
  list-style-type: none;
  overflow: hidden;
  margin: 1rem;
  width: 100%;
  height:15vw;
  min-width: 100px;
  min-height: 100px;
  text-align: center;
  border-radius: 25px;
  transition: .2s;
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
  background-position:center;
}

li.project:hover{
-webkit-transform: scale(1.0125);
transform: scale(1.0125);
}

.projectTitle {
  color: #FFF;
  font-weight:800;
  font-size:36px;
  height:100%;
  width:100%;
  padding-top:15px;
  text-shadow:#000 2px 0px 0px;
  background-color:rgba(0, 0, 0, 0.2);
  display: block;

}

.projectTitle:hover{
  color:#fff;
    background-color:rgba(0, 0, 0, 0.4);
}

#subProjectContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

li.subProject {
  list-style-type: none;
  overflow: hidden;
  margin: 1rem;
  width: 16vw;
  height:15vw;
  min-width: 100px;
  min-height: 100px;
  text-align: center;
  border-radius: 25px;
  border-style: solid;
  color: #F9423A;
  transition: .2s;
  padding-top:15px;
}

li.subProject:hover{
  background-color: #F9423A;
}

.subProjectTitle {
  color: #F9423A;
  display: block;
  width: 100%;
  height: 100%;
}

.subProjectTitle:hover{
  color:#fff;
}
