@media only screen and (max-device-width: 1024px) {
    .hero {
        background-attachment: scroll;
    }
}

.hero {
    background-image: url(/Assets/ImportantImages/eric-hero.jpg);
    background-size: cover;
    width: 100%;
    height: 758px;
    position:relative;
    background-attachment: fixed;
    z-index:1;

}
.projectImgSplash {
  background-image: url(/Assets/ProjPics/engines.jpg);
  background-size: cover;
  width: 100%;
  height: 500px;
  position:relative;
  background-attachment: fixed;
  z-index:1;

}
