.products-container {
  width: 100%;
  display:flex;
  flex-flow:row wrap;
  justify-content: center;
  padding-top:5vh;
  padding-bottom:5vh;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
  -webkit-padding-end: 0px;
}

.product-details {
  margin-top: 100px;
}

.product {
  display: block;
  min-width:200px;
  margin: 0px 100px 100px 100px;
}

#content hr {
  color: #F9423A;
  border-color: #F9423A;
}
