h1 {
  font-size: 40px;
  font-weight: bold;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
  margin-left: 10px;
}

p {
  margin-left: 20px;
  margin-right: 20px;
}

.projectimage {
  margin: 5px;
  height: 220px;
}

.youtubevideo {
  frameborder: 0;
}

#utilityVoltageDividerContainer {
  display: flex;
  justify-content: center;
}

#utilityVoltageDividerContainer .sch_svg {
  margin: 10px;
}


#utilityVoltageDividerContainer form {
    margin: 10px;
}


#utilityVoltageDividerContainer form {
    width: 500px;
    margin: 20px auto;
}

#utilityVoltageDividerContainer form input {
  display: inline-block;
}

#utilityVoltageDividerContainer form label {
  width: 180px;
  display: inline-block;  
  text-align: right;
}

#utilityVoltageDividerContainer label + input {
  width: 50%;
  margin: 4px 10px 4px 1px;
}

#utilityVoltageDividerContainer input + input {
    float: right;
}

#utilityVoltageDividerContainer input[type="submit"] {
  align: right;
}

.submit-hidden {
  visibility: hidden;
}