  <div class="intro">
    <h3>Hey there!
    </h3>
    <p>Our mission is to promote science and technology education through ameteur rocketry and robotic endeavors.</p>
    <div class="eric">
    </div>
  </div>
  <div class="content-block">
    <h3>About Us</h3>
    <p>We are a small group of students that started working on a liquid fueled rocket in 2013. We began with small solid fuel engines and have been working our way towards our short term goal. Since the begining of this project we realized that there is a need for the kind of work we are doing as young scientists and egineers. We started our nonprofit to bring our work into the work and help encourage students to learn and work on their own project.s</p>
    <h3>Short Term Goal</h3>
    <p>To launch a liquid fueled rocket to an altitude of 5km.</p>
    <h3>How to Help</h3>
    <p>If you are interested in supporting our group, here are a few ways to help:</p>
    <div class="donation">
      <h4>Donate</h4>
      <form action="https://www.paypal.com/cgi-bin/webscr" class="paypalbutton" method="post" target="_top">
        <p>Paypal:
          <input type="hidden" name="cmd" value="_s-xclick" />
          <input type="hidden" name="hosted_button_id" value="PBJCUHZSNG6AN" />
          <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!" />
        </p>
      </form>
      <h4>Wish List:</h4>
      <p>
        <ul>
          <li class="wehaveone">HackRF One (or similar SDR device)</li>
          <li class="wehaveone">Hydrostatic Test Pump</li>
          <li>HSS NPT Tap Set</li>
          <li class="wehaveone">AC/DC TIG Welder</li>
          <li>Nitrogen Tank</li>
          <li>Degreaser</li>
        </ul>
      </p>
    </div>
  </div>
