<!DOCTYPE html>
<html>
<head> {%include head.html %}
	<link rel="stylesheet" type="text/css" href="/Assets/CSS/splashImages.css" />
	 <link rel="stylesheet" type="text/css" href="/Assets/CSS/Project.css" />
</head>
<body>
	{%include navigation.html %}

<div class="content">
	{{content}}
</div>

{% if site.projects.size > 0 %}
 <ul id="project-container">
	 {% for project in site.projects %}
        <li class="project">
          <a class="projectTitle" href="{{ project.url }}">{{ project.title }}</a>
        </li>
      {% endfor %}
    </ul>
    {% endif %}

 	{%include footer.html%}
</body>

</html>
