<!DOCTYPE html>
<html>
<head> {%include head.html %}
  <link rel="stylesheet" type="text/css" href="{{ site.url }}/Assets/CSS/Project.css" />
  <link rel="stylesheet" type="text/css" href="{{ site.url }}/Assets/CSS/splashImages.css" />
</head>
<body>
  {%include navigation.html %}
  <div class ="projectImgSplash" style="background-image:url(/Assets/ProjPics/{{page.project}}.jpg")>
  </div>
  <div class="whiteSectionWrapper">
    <h1>{{page.title}}</h1>
  </div>

  {{content}}

  <p>Back to <a href="{{site.url}}/project-home">Project Home</a></p>
  {%include footer.html%}
</body>

</html>
