<!DOCTYPE html>
<html>
<head> {%include head.html %}
  <link rel="stylesheet" type="text/css" href="{{ site.url }}/Assets/CSS/Project.css" />
</head>
<body>
	{%include Navigation.html %}

<div class="content">
	{{content}}
</div>

{% if site.subprojects.size != 0 %}
 <ul id="subProjectContainer">
	 {% for subproject in site.subprojects %}
        <li class="subProject">
          <a class="subProjectTitle" href="{{ subproject.url }}">{{ subproject.title }}</a>
        </li>
      {% endfor %}
    </ul>
    {% endif %}

	{%include Footer.html%}
</body>

</html>
