<!DOCTYPE html>
<html>
<head> {%include head.html %}
  <link rel="stylesheet" type="text/css" href="{{ site.url }}/Assets/CSS/Project.css" />
  <link rel="stylesheet" type="text/css" href="{{ site.url }}/Assets/CSS/splashImages   .css" />
</head>
<body>
	{%include navigation.html %}
  <div class ="projectImgSplash">
	</div>
<div class="content">
	{{content}}
</div>

{% if site.subprojects.size != 0 %}
 <ul id="subProjectContainer">
	 {% for subproject in site.subprojects %}
     {%if page.project == subproject.project%}
        <li class="subProject">
          <a class="subProjectTitle" href="{{ subproject.url }}">{{ subproject.title }}</a>
        </li>
        {%endif%}
      {%endfor%}
    </ul>
    {% endif %}

<div class = "page-width">
    <script>
        document.write('<a href="' + document.referrer + '"> << Go Back</a>');
    </script>
</div>

	{%include footer.html%}
</body>

</html>
